
h1 {
    font-family: Tenor Sans, sans-serif;
    text-align: center;
}

.procedures_title {
    margin: 0 7% 7% 7%;
}

.row {
    margin-bottom: 3%;
    margin-left: 4%;
}

.card-title {
    font-family: Tenor Sans, sans-serif;
    font-weight: 800;
}

.list-group-item {
    font-family: Tenor Sans, sans-serif;
    font-weight: 800;

}

.card-text {
    font-family: Source Serif Pro;
}
